<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/custom.form.css">
    <style>
        .custom-tree-item-clicked{color:#FC9003}
    </style>
</head>
<body>
<div class="panel panel-default operation_user" hidden>
    <div class="panel-heading title"></div>
    <div class="layui-card-body">
        <form class="layui-form" action="" lay-filter="operation_form" id="operation_form" style="width: 700px;margin-top: 10px">
            <input name="id" hidden/>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{login_id}]]</div>
                <div class="layui-input-block">
                    <input name="loginId" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_nm_kanji}]]</div>
                <div class="layui-input-block">
                    <input name="stuNmKanji" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_nm_roma}]]</div>
                <div class="layui-input-block">
                    <input name="stuNmRoma" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_kokuseki}]]</div>
                <div class="layui-input-block">
                    <input name="stuKokuseki" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{stu_sex}]]</label>
                <div class="layui-input-block">
                    <input type="radio" name="stuSex" value="1" th:title="#{boy}" checked="">
                    <input type="radio" name="stuSex" value="0" th:title="#{girl}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_birthday}]] </div>
                <div class="layui-input-block">
                    <input name="stuBirthday" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input lay_date" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_course}]]</div>
                <div class="layui-input-block">
                    <input name="stuCourse" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_course0}]]</div>
                <div class="layui-input-block">
                    <input name="stuCourse0" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_course1}]]</div>
                <div class="layui-input-block">
                    <input name="stuCourse1" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_course2}]]</div>
                <div class="layui-input-block">
                    <input name="stuCourse2" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_major}]]</div>
                <div class="layui-input-block">
                    <input name="stuMajor" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_university}]]</div>
                <div class="layui-input-block">
                    <input name="stuUniversity" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_decision}]]</div>
                <div class="layui-input-block">
                    <input name="stuDecision" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{stu_contract}]]</label>
                <div class="layui-input-block">
                    <input type="radio" name="stuContract" value="1" th:title="#{have}" checked="">
                    <input type="radio" name="stuContract" value="0" th:title="#{havenot}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{stu_interview}]]</label>
                <div class="layui-input-block">
                    <input type="radio" name="stuInterview" value="1" th:title="#{have}" checked="">
                    <input type="radio" name="stuInterview" value="0" th:title="#{havenot}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{stu_gakuhi}]]</label>
                <div class="layui-input-block">
                    <input type="radio" name="stuGakuhi" value="1" th:title="#{pay}" checked="">
                    <input type="radio" name="stuGakuhi" value="0" th:title="#{paynot}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_keiyakubi}]]</div>
                <div class="layui-input-block">
                    <input name="stuKeiyakubi" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input lay_date" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_start}]]</div>
                <div class="layui-input-block">
                    <input name="stuStart" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input lay_date" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_end}]]</div>
                <div class="layui-input-block">
                    <input name="stuEnd" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input lay_date" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_shang_end}]]</div>
                <div class="layui-input-block">
                    <input name="stuShangEnd" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input lay_date" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_jp_end}]]</div>
                <div class="layui-input-block">
                    <input name="stuJpEnd" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input lay_date" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_doing_jp_school}]]</div>
                <div class="layui-input-block">
                    <input name="stuDoingJpSchool" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_home_school}]]</div>
                <div class="layui-input-block">
                    <input name="stuHomeSchool" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{stu_n2}]]</label>
                <div class="layui-input-block">
                    <input type="radio" name="stuN2" value="1" th:title="#{have}" checked="">
                    <input type="radio" name="stuN2" value="0" th:title="#{havenot}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{stu_n1}]]</label>
                <div class="layui-input-block">
                    <input type="radio" name="stuN1" value="1" th:title="#{have}" checked="">
                    <input type="radio" name="stuN1" value="0" th:title="#{havenot}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{stu_eju}]]</label>
                <div class="layui-input-block">
                    <input type="radio" name="stuEju" value="1" th:title="#{have}" checked="">
                    <input type="radio" name="stuEju" value="0" th:title="#{havenot}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_when_jp}]]</div>
                <div class="layui-input-block">
                    <input name="stuWhenJp" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input lay_date" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_phone_num}]]</div>
                <div class="layui-input-block">
                    <input name="stuPhoneNum" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_wechat}]]</div>
                <div class="layui-input-block">
                    <input name="stuWechat" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_background}]]</div>
                <div class="layui-input-block">
                    <input name="stuBackground" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_broker}]]</div>
                <div class="layui-input-block">
                    <input name="stuBroker" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_school}]]</div>
                <div class="layui-input-block">
                    <input name="stuSchool1" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_school_time}]]</div>
                <div class="layui-input-block">
                    <input name="stuSchoolTime1" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{stu_pass}]]</label>
                <div class="layui-input-block">
                    <input type="radio" name="stuPass1" value="1" th:title="#{have}" checked="">
                    <input type="radio" name="stuPass1" value="0" th:title="#{havenot}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_school}]]</div>
                <div class="layui-input-block">
                    <input name="stuSchool2" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_school_time}]]</div>
                <div class="layui-input-block">
                    <input name="stuSchoolTime2" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{stu_pass}]]</label>
                <div class="layui-input-block">
                    <input type="radio" name="stuPass2" value="1" th:title="#{have}" checked="">
                    <input type="radio" name="stuPass2" value="0" th:title="#{havenot}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_school}]]</div>
                <div class="layui-input-block">
                    <input name="stuSchool3" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_school_time}]]</div>
                <div class="layui-input-block">
                    <input name="stuSchoolTime3" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{stu_pass}]]</label>
                <div class="layui-input-block">
                    <input type="radio" name="stuPass3" value="1" th:title="#{have}" checked="">
                    <input type="radio" name="stuPass3" value="0" th:title="#{havenot}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_school}]]</div>
                <div class="layui-input-block">
                    <input name="stuSchool4" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_school_time}]]</div>
                <div class="layui-input-block">
                    <input name="stuSchoolTime4" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{stu_pass}]]</label>
                <div class="layui-input-block">
                    <input type="radio" name="stuPass4" value="1" th:title="#{have}" checked="">
                    <input type="radio" name="stuPass4" value="0" th:title="#{havenot}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_school}]]</div>
                <div class="layui-input-block">
                    <input name="stuSchool5" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{stu_school_time}]]</div>
                <div class="layui-input-block">
                    <input name="stuSchoolTime5" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{stu_pass}]]</label>
                <div class="layui-input-block">
                    <input type="radio" name="stuPass5" value="1" th:title="#{have}" checked="">
                    <input type="radio" name="stuPass5" value="0" th:title="#{havenot}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">[[#{save}]]</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">[[#{cancel}]]</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="user_table_div">
    <div id="searchParam" shiro:hasPermission="sys:user:list">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="loginId" class="layui-input" autocomplete="off" th:placeholder="#{login_id}">
            </div>
            <div class="layui-input-inline">
                <input type="text" id="stuNmKanji" class="layui-input" autocomplete="off" th:placeholder="#{stu_nm_kanji}">
            </div>
            <div class="layui-input-inline">
                <input type="text" id="stuNmRoma" class="layui-input" autocomplete="off" th:placeholder="#{stu_nm_roma}">
            </div>
            <div class="layui-input-inline layui-form">
                <select id="stuStatus">
                    <option value="">[[#{status_select}]]</option>
                    <option value="1">[[#{status_on}]]</option>
                    <option value="0">[[#{status_off}]]</option>
                </select>
            </div>
            <div class="layui-input-inline ">
                <button class="layui-btn" onclick="search()" id="search">[[#{search}]]</button>
            </div>
        </div>

    </div>
    <table class="layui-hide" id="user_table" lay-filter="user_table"></table>
</div>

<div id="roles" class="demo-transfer" style="display: none"></div>
</body>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addStudent" shiro:hasPermission="sys:user:add">[[#{add}]]</button>
<!--
        <button class="layui-btn layui-btn-sm" lay-event="batchUpdate" shiro:hasPermission="sys:user:deleted">[[#{update}]]</button>
-->
    </div>
</script>
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="sys:user:update">[[#{edit}]]</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="sys:user:deleted">[[#{del}]]</a>
</script>
<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script>
    var tableIns1;
    var table = layui.table;
    var form = layui.form;
    var layer = layui.layer;
    var $ = jQuery = layui.jquery;
    var laydate = layui.laydate;
    var tree = layui.tree;
    var transfer = layui.transfer;
    var startTime = null;
    var endTime = null;

    lay('.lay_date').each(function() {
        laydate.render({
             elem: this
            ,type: 'date'
            ,lang: 'en'
            , done: function (value, date, endDate) {

            }
        });
    });

    var cols = [
        [
            {type: 'radio', fixed: 'left'},
            {field: 'loginId', title: '[[#{login_id}]]', width: 130},
            {field: 'stuNmKanji', title: '[[#{stu_nm_kanji}]]', width: 130},
            {field: 'stuNmRoma', title: '[[#{stu_nm_roma}]]', width: 130},
            {field: 'stuKokuseki', title: '[[#{stu_kokuseki}]]', width: 130},
            {
                field: 'stuSex', title: '[[#{stu_sex}]]', width: 100, templet: function (item) {
                    if (item.stuSex === 1) {
                        return "[[#{boy}]]";
                    }
                    if (item.stuSex === 0) {
                        return "[[#{girl}]]";
                    }
                }
            },
            {field: 'stuBirthday', title: '[[#{stu_birthday}]]', width: 130},
            {field: 'stuCourse', title: '[[#{stu_course}]]', width: 130},
            {field: 'stuCourse0', title: '[[#{stu_course0}]]', width: 130},
            {field: 'stuCourse1', title: '[[#{stu_course1}]]', width: 130},
            {field: 'stuCourse2', title: '[[#{stu_course2}]]', width: 130},
            {field: 'stuMajor', title: '[[#{stu_major}]]', width: 130},
            {field: 'stuUniversity', title: '[[#{stu_university}]]', width: 130},
            {field: 'stuDecision', title: '[[#{stu_decision}]]', width: 130},
            {
                field: 'stuContract', title: '[[#{stu_contract}]]', width: 100, templet: function (item) {
                    if (item.stuContract === 1) {
                        return "[[#{have}]]";
                    }
                    if (item.stuContract === 0) {
                        return "[[#{havenot}]]";
                    }
                }
            },
            {
                field: 'stuInterview', title: '[[#{stu_interview}]]', width: 100, templet: function (item) {
                    if (item.stuInterview === 1) {
                        return "[[#{have}]]";
                    }
                    if (item.stuInterview === 0) {
                        return "[[#{havenot}]]";
                    }
                }
            },
            {
                field: 'stuGakuhi', title: '[[#{stu_gakuhi}]]', width: 100, templet: function (item) {
                    if (item.stuGakuhi === 1) {
                        return "[[#{have}]]";
                    }
                    if (item.stuGakuhi === 0) {
                        return "[[#{havenot}]]";
                    }
                }
            },
            {field: 'stuKeiyakubi', title: '[[#{stu_keiyakubi}]]', width: 130},
            {field: 'stuStart', title: '[[#{stu_start}]]', width: 130},
            {field: 'stuEnd', title: '[[#{stu_end}]]', width: 130},
            {field: 'stuShangEnd', title: '[[#{stu_shang_end}]]', width: 130},
            {field: 'stuJpEnd', title: '[[#{stu_jp_end}]]', width: 130},
            {
                field: 'stuStatus', title: '[[#{stu_status}]]', width: 100, templet: function (item) {
                    if (item.stuStatus === 1) {
                        return "[[#{status_on}]]";
                    }
                    if (item.stuStatus === 0) {
                        return "[[#{status_off}]]";
                    }
                }
            },
            {field: 'stuDoingJpSchool', title: '[[#{stu_doing_jp_school}]]', width: 130},
            {field: 'stuHomeSchool', title: '[[#{stu_home_school}]]', width: 130},
            {
                field: 'stuN2', title: '[[#{stu_n2}]]', width: 100, templet: function (item) {
                    if (item.stuN2 === 1) {
                        return "[[#{have}]]";
                    }
                    if (item.stuN2 === 0) {
                        return "[[#{havenot}]]";
                    }
                }
            },
            {
                field: 'stuN1', title: '[[#{stu_n1}]]', width: 100, templet: function (item) {
                    if (item.stuN1 === 1) {
                        return "[[#{have}]]";
                    }
                    if (item.stuN1 === 0) {
                        return "[[#{havenot}]]";
                    }
                }
            },
            {field: 'stuEju', title: '[[#{stu_eju}]]', width: 130},
            {field: 'stuWhenJp', title: '[[#{stu_when_jp}]]', width: 130},
            {field: 'stuPhoneNum', title: '[[#{stu_phone_num}]]', width: 130},
            {field: 'stuWechat', title: '[[#{stu_wechat}]]', width: 130},
            {field: 'stuBackground', title: '[[#{stu_background}]]', width: 130},
            {field: 'stuBroker', title: '[[#{stu_broker}]]', width: 130},
            {field: 'stuSchool1', title: '[[#{stu_school}]]', width: 130},
            {field: 'stuSchoolTime1', title: '[[#{stu_school_time}]]', width: 130},
            {field: 'stuPass1', title: '[[#{stu_pass}]]', width: 130},
            {field: 'stuSchool2', title: '[[#{stu_school}]]', width: 130},
            {field: 'stuSchoolTime2', title: '[[#{stu_school_time}]]', width: 130},
            {field: 'stuPass2', title: '[[#{stu_pass}]]', width: 130},
            {field: 'stuSchool3', title: '[[#{stu_school}]]', width: 130},
            {field: 'stuSchoolTime3', title: '[[#{stu_school_time}]]', width: 130},
            {field: 'stuPass3', title: '[[#{stu_pass}]]', width: 130},
            {field: 'stuSchool4', title: '[[#{stu_school}]]', width: 130},
            {field: 'stuSchoolTime4', title: '[[#{stu_school_time}]]', width: 130},
            {field: 'stuPass4', title: '[[#{stu_pass}]]', width: 130},
            {field: 'stuSchool5', title: '[[#{stu_school}]]', width: 130},
            {field: 'stuSchoolTime5', title: '[[#{stu_school_time}]]', width: 130},
            {field: 'stuPass5', title: '[[#{stu_pass}]]', width: 130},
            {field: 'createTime', title: '[[#{create_time}]]', width: 130},
            {field: 'updateTime', title: '[[#{update_time}]]', width: 130},
            {width: 300, toolbar: "#tool", title: '[[#{operation}]]'}
        ]
    ]

    layui.use(['table', 'layer', 'laydate', 'transfer'], function () {
        //加载table
        tableIns1 = table.render({
            elem: '#user_table'
            , contentType: 'application/json'
            , page: true //开启分页
            , url: '/attence/students' //数据接口
            , method: 'POST'
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols:cols
            , toolbar: '#toolbar'
        });






        table.on('toolbar(user_table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'batchUpdate':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg([[#{stu_select_tips}]]);
                    } else {
                        $(data).each(function (index, item) {
                            updlog(item.id, item.stuNmKanji);
                        });
                    }
                    break;
                case 'addStudent':
                    $(".title").html("[[#{add}]]");
                    $(".user_table_div").hide();
                    $(".operation_user").show();
                    $("#operation_form")[0].reset();
                    form.render(); //更新全部
                    break;
            };
        });
        table.on('tool(user_table)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    var userIds = [];
                    userIds.push(data.id);
                    dellog(userIds, data.stuNmKanji);
                    break;
                case 'edit':
                    $(".user_table_div").hide();
                    $(".operation_user").show();
                    $(".title").html("[[#{edit}]]");
                    form.val('operation_form', data);
                    break;
            }
        });

        form.on('switch(switch)', function () {
            $(".operation_user input[name=stu_status]").attr('type', 'hidden').val(this.checked ? 1 : 0);
        });

        $("#btn_cancel").click(function () {
            $(".user_table_div").show();
            $(".operation_user").hide();
            return false;
        });
        var updlog = function (userId, username) {
            layer.open({
                content: '[[#{tea_info6}]]' + username + "[[#{tea_info7}]]",
                yes: function (index) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendPut("/attence/student_status", userId, function (res) {
                        layer.msg(res.msg);
                        search()
                    });
                }
            });
        };

        var dellog = function (userIds, username) {
            layer.open({
                content: '[[#{tea_info8}]]' + username + "[[#{tea_info9}]]",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendDelete("/attence/student", userIds, function (res) {
                        layer.msg(res.msg);
                        search()
                    });
                }
            });
        };

        form.on('submit(submit)', function (data) {
            if (data.field.id === undefined || data.field.id === null || data.field.id === "") {
                CoreUtil.sendPost("/attence/student", data.field, function (res) {
                    $(".user_table_div").show();
                    $(".operation_user").hide();
                    search()
                });
            } else {
                CoreUtil.sendPut("/attence/student", data.field, function (res) {
                    $(".user_table_div").show();
                    $(".operation_user").hide();
                    search()
                });
            }
            return false;
        });
    });

    //执行查询
    function search() {
        //这里以搜索为例
        tableIns1.reload({
            where: { //设定异步数据接口的额外参数，任意设
                loginId: $("#loginId").val(),
                startTime: startTime,
                endTime: endTime,
                stuNmKanji: $("#stuNmKanji").val(),
                stuNmRoma: $("#stuNmRoma").val(),
                stuStatus: $("#stuStatus").val()
            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    };
</script>
</html>