<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/custom.form.css">
    <style>
        .custom-tree-item-clicked{color:#FC9003}
    </style>
</head>
<body>
<div class="panel panel-default operation_user" hidden>
    <div class="panel-heading title"></div>
    <div class="layui-card-body">
        <form class="layui-form" action="" lay-filter="operation_form" id="operation_form" style="width: 700px;margin-top: 10px">
            <input name="id" hidden/>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{tea_id}]]</label>
                <div class="layui-input-block">
                    <input name="teaNo" th:placeholder="#{tea_id}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{beginDate.infor}]]</div>
                <div class="layui-input-block">
                    <input type="text" name="beginDate" readonly class="layui-input" id="beginDate" th:placeholder="#{beginDate.infor}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{endDate.infor}]]</div>
                <div class="layui-input-block">
                    <input type="text" name="endDate" readonly class="layui-input" id="endDate" th:placeholder="#{endDate.infor}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{salary}]]</label>
                <div class="layui-input-block">
                    <input name="salary" th:placeholder="#{salary}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item workType">
                <label class="layui-form-label">[[#{type}]]</label>
                <div class="layui-input-block">
                    <select name="workType">
                        <option value="">[[#{info5}]]</option>
                        <option value="CLASS_VIP">[[#{stu_course2}]]</option>
                        <option value="CLASS_WORK">[[#{type1}]]</option>
                        <option value="CLASS_OTHER">[[#{type2}]]</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{where}]]</label>
                <div class="layui-input-block">
                    <input type="radio" name="attType" value="1" th:title="#{inCompany}" checked="">
                    <input type="radio" name="attType" value="2" th:title="#{outCompany}">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">[[#{save}]]</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">[[#{cancel}]]</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="user_table_div">
    <div id="searchParam" shiro:hasPermission="sys:user:list">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="teaNo" class="layui-input" autocomplete="off" th:placeholder="#{infor1}">
            </div>
            <div class="layui-input-inline">
                <input type="text" id="teaName" class="layui-input" autocomplete="off" th:placeholder="#{infor2}">
            </div>
            <div class="layui-input-inline">
                <input type="text" readonly class="layui-input" id="createTime" th:placeholder="#{info3}">
            </div>

            <div class="layui-input-inline layui-form">
                <select id="workType">
                    <option value="">[[#{info5}]]</option>
                    <option value="CLASS_VIP">[[#{stu_course2}]]</option>
                    <option value="CLASS_WORK">[[#{type1}]]</option>
                    <option value="CLASS_OTHER">[[#{type2}]]</option>
                </select>
            </div>
            <div class="layui-input-inline layui-form">
                <select id="attType">
                    <option value="">[[#{where}]]</option>
                    <option value="1">[[#{inCompany}]]</option>
                    <option value="2">[[#{outCompany}]]</option>
                </select>
            </div>
            <div class="layui-input-inline ">
                <button class="layui-btn" onclick="search()" id="search">[[#{search}]]</button>
            </div>
        </div>

    </div>
    <table class="layui-hide" id="user_table" lay-filter="user_table"></table>
</div>

<div id="roles" class="demo-transfer" style="display: none"></div>
</body>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addAtt" shiro:hasPermission="sys:user:add">[[#{info6}]]</button>
    </div>
</script>
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="sys:user:update">[[#{edit}]]</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="sys:user:deleted">[[#{del}]]</a>
</script>
<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script>
    var tableIns1;
    var table = layui.table;
    var form = layui.form;
    var layer = layui.layer;
    var $ = jQuery = layui.jquery;
    var laydate = layui.laydate;
    var tree = layui.tree;
    var transfer = layui.transfer;
    var deptNo = null;
    var startTime = null;
    var endTime = null;
    layui.use(['table', 'layer', 'laydate', 'transfer'], function () {
        //加载table
        tableIns1 = table.render({
            elem: '#user_table'
            , contentType: 'application/json'
            , page: true //开启分页
            , url: '/attence/records' //数据接口
            , method: 'POST'
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'teaNo', title: '[[#{tea_id}]]', width: 130},
                    {field: 'teaName', title: '[[#{tea_nm_kanji}]]', width: 130},
                    {field: 'beginDate', title: '[[#{beginDate.infor}]]', width: 160},
                    {field: 'endDate', title: '[[#{endDate.infor}]]', width: 160},
                    {field: 'workType', title: '[[#{type}]]', width: 160},
                    {field: 'duration', title: '[[#{time}]]', width: 160},
                    {field: 'salary', title: '[[#{salary}]]', width: 160},


                    {
                        field: 'attType', title: '[[#{where}]]', width: 100, templet: function (item) {
                            if (item.attType === 1) {
                                return "[[#{inCompany}]]";
                            }
                            if (item.attType === 2) {
                                return "[[#{outCompany}]]";
                            }
                        }
                    },
                    {field: 'remarks', title: '[[#{role.remake}]]', minWidth: 120},
                    {field: 'createTime', title: '[[#{create_time}]]', minWidth: 120},
                    {field: 'updateTime', title: '[[#{update_time}]]', minWidth: 120},
                    {width: 300, toolbar: "#tool", title: '[[#{operation}]]'}
                ]
            ]
            , toolbar: '#toolbar'
        });

        laydate.render({
            elem: '#createTime'
            , type: 'datetime'
            , range: '~'
            , done: function (value, date, endDate) {
                if (value != null && value != undefined && value != "") {
                    startTime = value.split("~")[0];
                    endTime = value.split("~")[1];
                } else {
                    startTime = null;
                    endTime = null;
                }

            }
        });

        laydate.render({
            elem: '#beginDate'
            , type: 'datetime'
            ,format:'yyyy-MM-dd HH:mm:ss'//保留时分
            , done: function (value, date, endDate) {

            }
        });

        laydate.render({
            elem: '#endDate'
            , type: 'datetime'
            ,format:'yyyy-MM-dd HH:mm:ss'//保留时分
            , done: function (value, date, endDate) {

            }
        });

        table.on('toolbar(user_table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'batchUpdate':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("[[#{tea_info4}]]");
                    } else {
                        var userIds = [];
                        $(data).each(function (index, item) {
                            userIds.push(item.id);
                        });
                        updlog(userIds, "[[#{tea_info5}]]");
                    }
                    break;
                case 'addAtt':
                    $(".title").html("[[#{tea_add}]]");
                    $(".user_table_div").hide();
                    $(".operation_user").show();
                    $(".workType").show();
                    $("#operation_form")[0].reset();
                    form.render(); //更新全部
                    break;
            };
        });
        table.on('tool(user_table)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    var userIds = [];
                    userIds.push(data.id);
                    dellog(userIds, data.stuName);
                    break;
                case 'edit':
                    $(".user_table_div").hide();
                    $(".operation_user").show();
                    $(".title").html("[[#{edit}]]");
                    form.val('operation_form', data);
                    $(".workType").hide();

                    break;
            }
        });
        $("#btn_cancel").click(function () {
            $(".user_table_div").show();
            $(".operation_user").hide();
            return false;
        });
        var updlog = function (userIds, username) {
            layer.open({
                content: '[[#{tea_info6}]]' + username + "[[#{tea_info7}]]",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendPut("/attence/record", userIds, function (res) {
                        layer.msg(res.msg);
                        search()
                    });
                }
            });
        };

        var dellog = function (userIds, username) {
            layer.open({
                content: '[[#{tea_info8}]]' + username + "[[#{tea_info9}]]",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendDelete("/attence/record", userIds, function (res) {
                        layer.msg(res.msg);
                        search()
                    });
                }
            });
        };

        form.on('submit(submit)', function (data) {
            if (data.field.id === undefined || data.field.id === null || data.field.id === "") {
                CoreUtil.sendPost("/attence/record", data.field, function (res) {
                    $(".user_table_div").show();
                    $(".operation_user").hide();
                    search()
                });
            } else {
                CoreUtil.sendPut("/attence/record", data.field, function (res) {
                    $(".user_table_div").show();
                    $(".operation_user").hide();
                    search()
                });
            }
            return false;
        });
    });

    //执行查询
    function search() {
        //这里以搜索为例
        tableIns1.reload({
            where: { //设定异步数据接口的额外参数，任意设
                stuNo: $("#stuNo").val(),
                beginDate: startTime,
                endDate: endTime,
                stuName: $("#stuName").val(),
                attType: $("#attType").val(),
                workType: $("#workType").val()

            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    };
</script>
</html>