<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title></title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/bootstrap-datetimepicker.css" rel="stylesheet"/>


	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>

	<script src="/js/bootstrap-datetimepicker.js"></script>

	<script src="/js/bootstrap.min.js"></script>
<style>

</style>

</head>
<body style="">
<div id="magicalDragScene" class="mc-root mc-ui-absolute-pane">
	<form class="w-100 h-100 align-baseline" style="position: absolute; left: 0%; top: 0.286533%;">
		<div class="row text-xl-center h-100 align-items-xl-center" style="line-height: 0px; position: static;">
			<div class="ol-md-12 col-sm-12 col-xs-12 " style="line-height: 50px;">
				<div class="row">
					<div class="ol-md-12 col-sm-12 col-xs-12">
						<strong>课题制作</strong>
					</div>
					<div class="ol-md-12 col-sm-12 col-xs-12">
						<strong>席1</strong>
					</div>
					<div class="dropdown ol-md-12 col-sm-12 col-xs-12">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Dropdown
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="#">席 1</a></li>
							<li><a href="#">席 2</a></li>
							<li><a href="#">席 3</a></li>
							<li><a href="#">席 4</a></li>
							<li><a href="#">席 5</a></li>
							<li><a href="#">席 6</a></li>
						</ul>
					</div>
					<div class="ol-md-12 col-sm-12 col-xs-12">
						<strong>2020年12月20日</strong>
					</div>
					<div class="ol-md-12 col-sm-12 col-xs-12">
						<strong>From</strong>
						<strong id="uuidcf0513a6-f775-4afc-a361-b50a7cadb52d">18:00</strong>
						<strong id="uuid72cf50f2-6414-441c-be04-4804f7da9a0c">TO</strong>
						<strong>21:00</strong>
					</div>

					<input type="text" id="time" >

				</div>

				<button id="confirm" class="btn btn-info bg-primary h-25 w-50" type="button">确认</button>
			</div>
		</div>
	</form>
</div>
<script>
	$('#confirm').click(function (){
		location.href = "1280-8-info.html";
	});

	$('#time').datepicker({
		format:'hh:ii',
		startView: 1,
		minView: 0,
		autoclose: true,

	});

</script>
</body>

</html>