<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
<title></title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>

	<script src="/js/bootstrap.min.js"></script>
<style>

</style>

</head>
<body style="">
<div id="magicalDragScene" class="mc-root mc-ui-absolute-pane">
	<form class="w-100 h-100 align-baseline" style="position: absolute; left: 0%; top: 0.286533%;">
		<div class="row text-xl-center h-100 align-items-xl-center" style="line-height: 0px; position: static;">
			<div class="ol-md-12 col-sm-12 col-xs-12 " style="line-height: 50px;">
				<div class="row">
					<div class="ol-md-12 col-sm-12 col-xs-12">
						<strong>课题制作</strong>
					</div>
					<div class="ol-md-12 col-sm-12 col-xs-12">
						<strong>A1003</strong>
						<strong>席1</strong>
					</div>
					<div class="ol-md-12 col-sm-12 col-xs-12">
						<strong>2020年11月20日</strong>
					</div>
					<div class="ol-md-12 col-sm-12 col-xs-12">
						<strong>From</strong>
						<strong>18:00</strong>
						<strong>To</strong>
						<strong>21:00</strong>
					</div>
				</div>
				<button id="uuidd41890fb-ff92-4b3e-8d60-1354bf00dd17" class="btn btn-info bg-primary h-25 w-50" type="button">确认</button>
			</div>
		</div>
	</form>
</div>
<script>


</script>
</body>

</html>