<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
<title></title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>

	<script src="/js/bootstrap.min.js"></script>
<style>

</style>

</head>
<body style="">
<div id="magicalDragScene" class="mc-root mc-ui-absolute-pane">
	<form class="w-100 h-100 align-baseline" style="position: absolute; left: 0%; top: 0.286533%;">
		<div class="row text-xl-center h-100 align-items-xl-center" style="line-height: 0px; position: static;">
			<div class="ol-md-12 col-sm-12 col-xs-12 ">
				<button id="uuid035bd63d-3f0d-4a9d-a872-ee36b1eaf19c" class="btn btn-info bg-primary h-25 w-50" type="button"> 出勤</button>
			</div>
			<div class="ol-md-12 col-sm-12 col-xs-12 ">
				<button id="uuidd41890fb-ff92-4b3e-8d60-1354bf00dd17" class="btn btn-info bg-primary h-25 w-50" type="button">退勤</button>
			</div>
			<div class="ol-md-12 col-sm-12 col-xs-12 ">
				<button id="uuidd66b8d65-407c-48a0-9a82-20f6019e8da0" class="btn btn-info bg-primary h-25 w-50" type="button">预约</button>
			</div>
			<div class="ol-md-12 col-sm-12 col-xs-12 ">
				<button id="uuid09e95416-1e1d-49bb-ba35-047f8eeed105" class="btn btn-info bg-primary h-25 w-50" type="button">确认信息</button>
			</div>
		</div>
	</form>
</div>
<script>


</script>
</body>

</html>