<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
<title></title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>

	<script src="/js/bootstrap.min.js"></script>
<style>

</style>

</head>
<body style="">
<div id="magicalDragScene" class="mc-root mc-ui-absolute-pane">
	<form class="w-100 h-100 align-baseline" style="position: absolute; left: 0%; top: 0.286533%;">
		<div class="row text-xl-center h-100 align-items-xl-center" style="line-height: 0px; position: static;">
			<div class="ol-md-12 col-sm-12 col-xs-12 " style="margin-top: 0px;">
				<button id="uuidd41890fb-ff92-4b3e-8d60-1354bf00dd17" class="btn btn-info bg-primary h-25 w-50" style="margin-top: 5px;" type="button">预约信息</button>
				<button id="uuid19b2c97a-3719-47c2-af5e-14a8b8d76470" class="btn btn-info bg-primary h-25 w-50" style="margin-top: 5px;" type="button">可预约课时</button>
			</div>
		</div>
	</form>
</div>
<script>
</script>
</body>

</html>