<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>UserStundent7</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>


		<!-- Form -->
		<form onclick="return false">
			<legend>预约信息确认</legend>
			<div class="row">
				<table class="table table-bordered">
					<caption>➡️课题制作</caption>
					<thead>
						<tr>
							<th>位置</th>
							<th>日期</th>
							<th>时间</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>席1</td>
							<td>2020年12月30日</td>
							<td>From xx:xx TO XX:XX</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
					<input type="submit" id="return" value="返回" class="btn btn-primary btn-wide" />
			</div>
		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p>功能选择 -> 信息确认-> <span class="label label-danger">预约信息确认</span></p>
		</div>

	</div>
</div>
<script>
	$(function(){
		var userName = sessionStorage.getItem('userName');//获取sessionStorage对象中的数据


		$.ajax({
			type: "POST",
			url: "/user/findAppointment",
			dataType: "json",
			contentType: 'application/json; charset=UTF-8',
			cache: false,
			async: false,
			success: function (res) {
				if (res.code == 0) {
					var html = ''
					for(var i = 0;i<res.data.length;i++){
						html += setDiv(res.data[i])
					}
					noApplicationRecord.innerHTML = html

				}else {
					alert(res.msg);
					$("#userName").val("");
					$("#passWord").val("");
					$("#userName").focus();
					return false;
				}
			}
		})
	});

	//绘制单个div
	function setDiv(item){
		var div = '<div class="body-no-list"><div class="body-no-list-header" ><div class="body-no-list-header-title">'
				+ item.business
				+ '</div><div class="body-no-list-header-txt">消费金额:&nbsp;'
				+ item.count
				+ '元<br>消费单号:&nbsp;'
				+ item.num
				+ '<br>提交时间:&nbsp;'
				+ item.time
				+ '</div></div><div class="body-no-list-bottom"><div class="body-no-list-bottom-vehicl">'
				+ item.license
				+ '</div><div><button>撤销</button><button> 修改</button></div></div></div> '
		return div
	}

</script>
</body>

</html>