<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>UserTeacher3</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>
</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<legend>工作内容</legend>
			<button type="button" id="vip" class="btn btn-primary btn-lg btn-block">VIP作品集研究计划</button>
			<button type="button" id="someThing" class="btn btn-primary btn-lg btn-block">事务工作</button>
			<button type="button" id="other" class="btn btn-primary btn-lg btn-block">其他</button>
		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p>功能选择 -> <span class="label label-danger">工作内容</span></p>
		</div>

	</div>
</div>
<script>
	$('#icon').click(function (){
		location.href = "/user/user_tea1.html";
	});
	var flag = getQueryVariable("signOut");

	$('#vip').click(function (){
		if(flag == 1){
			let object = {workType:"CLASS_VIP"};
			signOut(object);
		}else{
			location.href = "/user/user_tea3.html?workType=CLASS_VIP";
		}
	});

	$('#someThing').click(function (){
		if(flag == 1){
			let object = {workType:"CLASS_WORK"};
			signOut(object);

		}else {
			location.href = "/user/user_tea3.html?workType=CLASS_WORK";
		}
	});

	$('#other').click(function (){
		if(flag == 1){
			let object = {workType:"CLASS_OTHER"};
			signOut(object);
		}else {
			location.href = "/user/user_tea3.html?workType=CLASS_OTHER";
		}
	});

	function signOut(object){
		let data = JSON.stringify(object)
		$.ajax({
			type: "POST",
			url: "/user/signOut",
			data: data,
			dataType: "json",
			contentType: 'application/json; charset=UTF-8',
			cache: false,
			async: false,
			success: function (res) {
				if (res.code == 0) {
					location.href = "/user/user_tea5.html?id=" + res.data.id;
				}else {
					return false;
				}
			}
		})
	}
</script>
</body>

</html>