<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>[[#{time.title}]]</title>
	<link href="/css/common.css" rel="stylesheet"/>
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script src="/js/common.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<fieldset>
				<legend>[[#{time.title}]]</legend>
				<div class="form-group">
					<label for="dtp_input1" class="col-md-3 control-label">[[#{time.time}]]</label>
					<div class="input-group date form_date col-md-8" id="datetimepicker" data-date="" data-date-format="yyyy-MM-dd" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd">
						<input class="form-control" type="text" value="" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
					</div>
					<input type="hidden" id="dtp_input1" value="" /><br/>
				</div>
				<div class="form-group">
					<label for="dtp_input2" class="col-md-3 control-label">[[#{time.beginDate}]]</label>
					<div class="input-group date form_time col-md-8" data-date="" data-date-format="hh:ii" data-link-field="dtp_input2" data-link-format="hh:ii">
						<input class="form-control" type="text" value="" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
					</div>
					<input type="hidden" id="dtp_input2" value="" /><br/>
				</div>
				<div class="form-group">
					<label for="dtp_input3" class="col-md-3 control-label">[[#{time.endDate}]]</label>
					<div class="input-group date form_time col-md-8" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
						<input class="form-control" type="text" value="" readonly>
						<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
					</div>
					<input type="hidden" id="dtp_input3" value="" /><br/>
				</div>
			</fieldset>

			<div class="row">
				<input type="submit" id="comfire" style="margin-bottom: 20px" th:value="#{time.confirm}" class="btn btn-primary btn-wide" />
			</div>
			<div style="margin-bottom: 10px;width: 100%">
				<p><span class="label label-danger">[[#{time.err}]]</span></p>
			</div>
		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p>[[#{time.tip1}]]<span class="label label-danger">[[#{time.tip2}]]</span>[[#{time.tip3}]]</p>
		</div>

	</div>
</div>
<script>
	$('#icon').click(function (){
		var userName = sessionStorage.getItem('userName');//获取sessionStorage对象中的数据
		location.href = "/user/user_tea1";
	});
	var date = new Date();
	$('.form_date').datetimepicker({
		language:  'en',
		weekStart: 1,
		todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0,
		daysOfWeekDisabled: '0',
		startDate: date
	});
	$('.form_time').datetimepicker({
		language:  'en',
		weekStart: 1,
		todayBtn:  0,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0,
		minuteStep: 15,
		//hoursDisabled: [0, 1, 2, 3, 4, 5, 6, 7, 8, 19, 20, 21, 22, 23]
	});

	$('#comfire').click(function (){
		let classType = getQueryVariable("classType");
		const dtp_input1 = $("#dtp_input1").val().toString();
		const dtp_input2 = $("#dtp_input2").val().toString();
		const dtp_input3 = $("#dtp_input3").val().toString();

		const beginDate = dtp_input1 + " " + dtp_input2;
		const endDate = dtp_input1 + " " + dtp_input3;


		if (dtp_input1 == "" || dtp_input2 == "" || dtp_input3 == "") {
			alert("[[#{time.info1}]]");
			return false;
		}

		if ( dtp_input2 >= dtp_input3) {
			alert("[[#{time.info2}]]");
			return false;
		}
		location.href = "/user/user_seat_tea?beginDate=" + beginDate + "&endDate=" + endDate + "&classType=" + classType;
	});
</script>
<style>
	input[type=text] {
		margin-top: 0px;
		border-top-width: 0px;
		border-bottom-width: 0px;
	}
	label {
		margin-top: 5px;
	}

</style>
</body>

</html>