<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>[[#{tea6.title}]]</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<legend>[[#{tea6.title}]]</legend>
			<button type="button" id="vip" class="btn btn-primary btn-lg btn-block">[[#{tea6.vip}]]</button>
		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p>[[#{tea6.tip1}]]<span class="label label-danger">[[#{tea6.tip2}]]</span>[[#{tea6.tip3}]]</p>
		</div>

	</div>
</div>
<script>
	$('#icon').click(function (){
		location.href = "/user/user_tea1";
	});

	$('#vip').click(function (){
		location.href = "/user/user_time_tea?classType=CLASS_VIP";
	});
</script>
</body>

</html>