<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>UserTeacher1</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>
</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
		<legend>出勤地选择</legend>
			<button type="button" id="inCompany" class="btn btn-primary btn-lg btn-block">社内</button>
			<button type="button" id="outCompany" class="btn btn-primary btn-lg btn-block">社外</button>
		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p>功能选择 -> 工作内容 -> <span class="label label-danger">出勤地</span></p>
		</div>

	</div>
</div>
<script>
	var workType = getQueryVariable("workType");

	$('#inCompany').click(function (){
		doWork("1" ,workType);

	});

	$('#outCompany').click(function (){
		doWork("2" ,workType);
	});

	function doWork(company , workType){
		var dt = new Date();

		if(workType == "CLASS_VIP"){
			location.href = "/user/user_tea4.html?workType=" + workType + "&company=" + company ;
		}else{
			var workType = getQueryVariable("workType");

			let object = {
				workType:workType,
				attType:company
			}
			let data = JSON.stringify(object)

			$.ajax({
				type: "POST",
				url: "/user/signIn",
				data: data,
				dataType: "json",
				contentType: 'application/json; charset=UTF-8',
				cache: false,
				async: false,
				success: function (res) {
					if (res.code == 0) {
						location.href = "/user/user_tea5.html?id=" + res.data.id;
					}else {
						alert(res.msg);
						$("#userName").val("");
						$("#passWord").val("");
						$("#userName").focus();
						return false;
					}
				}
			})
		}
	}

	function zeroFill(i){
		if (i >= 0 && i <= 9) {
			return "0" + i;
		} else {
			return i;
		}
	}

</script>
</body>

</html>