<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>[[#{stu1.title}]]</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<legend>[[#{stu1.title}]]</legend>
			<button type="submit" id="reserve" class="btn btn-primary btn-lg btn-block">[[#{stu1.reserve}]]</button>
			<button type="submit" id="confimation" class="btn btn-primary btn-lg btn-block" >[[#{stu1.confimation}]]</button>
		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p><span class="label label-danger">[[#{stu1.tip}]]</span></p>
		</div>

	</div>
</div>
<script>
	$('#icon').click(function (){
		location.href = "/user/user_stu1";
	});

	$('#reserve').click(function (){
		location.href = "/user/user_stu2";
	});

	$('#confimation').click(function (){
		location.href = "/user/user_stu5";
	});

</script>
<style>

</style>

</body>

</html>