<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>UserTeacher2</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>
</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
		<legend>功能选择</legend>
			<button type="button" id="onJob" class="btn btn-primary btn-lg btn-block">出勤</button>
			<button type="button" id="outJob" class="btn btn-primary btn-lg btn-block">退勤</button>
			<button type="button" id="reserve" class="btn btn-primary btn-lg btn-block">预约</button>
			<button type="button" id="confimation" class="btn btn-primary btn-lg btn-block">信息确认</button>
		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p><span class="label label-danger">功能选择</span></p>

		</div>

	</div>
</div>
<script>

	$(function(){
		let object = {}
		let data = JSON.stringify(object)

		$.ajax({
			type: "POST",
			url: "/user/is-teacher",
			data: data,
			dataType: "json",
			contentType: 'application/json; charset=UTF-8',
			cache: false,
			async: false,
			success: function (res) {
				if (res.code == 0) {
					$('#onJob').html("出勤中 : " + res.data.workType)
				}else {
					return false;
				}
			}
		});

	});

	$('#icon').click(function (){
		location.href = "/user/user_tea1";
	});

	$('#onJob').click(function (){
		location.href = "/user/user_tea2";
	});

	 $('#outJob').click(function (){
		 location.href = "/user/user_tea2?signOut=1";
	 });

	$('#reserve').click(function (){
		location.href = "/user/user_tea6";
	});
	$('#confimation').click(function (){
		location.href = "/user/user_tea9";
	});



</script>
</body>

</html>