<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>UserTeacher11</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<legend>预约课程信息确认</legend>

			<div class="row">
				<table class="table table-bordered">
					<caption>➡️VIP作品集研究计划</caption>
					<thead>
						<tr>
							<th>学生番号</th>
							<th>座位</th>
							<th>日期</th>
							<th>时间</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>XXX01</td>
							<td>席1</td>
							<td>2020年12月30日</td>
							<td>From xx:xx TO XX:XX</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
					<input type="submit" name="button1" value="返回" class="btn btn-primary btn-wide" />
			</div>
		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p>功能选择 -> 信息确认 -> <span class="label label-danger">预约课程信息</span></p>
		</div>

	</div>
</div>
<script>

</script>
</body>

</html>