<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>UserStundent3</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<legend>确认</legend>
			<div class="row">
				<label id="classType" class="control-label">课题制作</label>
			</div>
			<div class="row">
				<label id="classRoom" class="control-label">席1</label>
			</div>

			<div class="row">
				<label id="beginDate" class="control-label">2020年11月20日</label>
			</div>
			<div class="row">
				<label id="endDate" class="control-label">From xx:xx TO xx:xx</label>
			</div>
			<div class="row">
				<label id="stuNo" class="control-label">学生番号：xxxx</label>
			</div>
		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p>功能选择 -> 预约课程 -> 时间选择 -> 座位选择 -> <span class="label label-danger">确认</span></p>
		</div>

	</div>
</div>
<script>
	$('#icon').click(function (){
		var userName = sessionStorage.getItem('userName');//获取sessionStorage对象中的数据
		if(userName.startsWith("S")){
			location.href = "/user/user_stu1.html";
		}else{
			location.href = "/user/user_tea1.html";
		}

	});
	$(function(){
		var userName = sessionStorage.getItem('userName');//获取sessionStorage对象中的数据

		let id = getQueryVariable("id");


		let object = {
			id:id
		}
		let data = JSON.stringify(object)

		$.ajax({
			type: "POST",
			url: "/user/findAppointment",
			data: data,
			dataType: "json",
			contentType: 'application/json; charset=UTF-8',
			cache: false,
			async: false,
			success: function (res) {
				if (res.code == 0) {
					$("#classType").html(res.data.classType);
					$("#classRoom").html("席:" + res.data.classRoom);
					$("#beginDate").html(res.data.beginDate);
					$("#endDate").html(res.data.endDate);
					if(userName.substring(0,1) == "S") {
						$("#stuNo").hide();
					}else{
						$("#stuNo").html("学生番号:" + res.data.stuNo);
					}
				}else {
					alert(res.msg);
					$("#userName").val("");
					$("#passWord").val("");
					$("#userName").focus();
					return false;
				}
			}
		})
	});
</script>
</body>

</html>