<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>UserTeacher4</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-datetimepicker.min.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<fieldset>
				<legend>VIP作品集研究计划</legend>
				<div class="row content">
					<label  class="col-md-3 control-label">学生番号</label>
					<div class="col-md-8">
						<input class="form-control" type="text" id="stuNo">
					</div>
					<br/>
				</div>

				<div class="row row1">
					<input type="submit" name="button1" value="确认" class="btn btn-primary btn-wide" />
				</div>
			</fieldset>

		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p>出勤地 -> 功能选择 -> 工作内容 -> <span class="label label-danger">VIP作品集研究计划</span></p>

		</div>

	</div>
</div>
<script>

</script>
<style>
	input[type=text] {
		margin-top: 0px;
		border-top-width: 0px;
		border-bottom-width: 0px;
	}
	label {
		left: 40px;
		margin-top: 5px;
	}

	.row {
		margin-top: 25px;
		margin-left: 0px;
		margin-right: 0px;
	}
</style>
</body>

</html>