<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>UserStundent3</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>


			<legend>一对多课程预约</legend>
			<div class="row">
				<table class="table table-bordered">
					<caption>➡️可预约课时</caption>
					<thead>
						<tr>
							<th>小论文</th>
							<th>模拟面接</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><span id="course0"></span><span>小时</span></td>
							<td><span id="course1"></span><span>小时</span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row custom-control form-control-lg custom-checkbox">
				<table class="table table-bordered">
					<caption>➡️参加希望课程</caption>
					<thead>
					<tr>
						<th colspan="3">土曜日</th>
						<th colspan="3">日曜日</th>
					</tr>
					</thead>
					<tbody>
						<!--第一周-->
						<tr>
							<td rowspan="2"><span id="sa1"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="custom-control-input" value="13:00"  data-end="16:00" id="saAmCheck1" onclick="course0Onclick(this)"></td>
							<td rowspan="2"><span id="su1"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="custom-control-input" value="13:00" data-end="16:00" id="suAmCheck1" onclick="course1Onclick(this)"></td>
						</tr>
						<tr>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00" data-end="20:00" id="saPmCheck1" onclick="course0Onclick(this)"></td>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00" data-end="20:00" id="suPmCheck1" onclick="course1Onclick(this)"></td>
						</tr>
						<!--第二周-->
						<tr>
							<td rowspan="2"><span id="sa2"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="form-check-input" value="13:00" data-end="16:00" id="saAmCheck2" onclick="course0Onclick(this)"></td>
							<td rowspan="2"><span id="su2"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="form-check-input" value="13:00" data-end="16:00" id="suAmCheck2" onclick="course1Onclick(this)"></td>
						</tr>
						<tr>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00" data-end="20:00" id="saPmCheck2" onclick="course0Onclick(this)"></td>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00" data-end="20:00" id="suPmCheck2" onclick="course1Onclick(this)"></td>
						</tr>
						<!--第三周-->
						<tr>
							<td rowspan="2"><span id="sa3"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="form-check-input" value="13:00" data-end="16:00" id="saAmCheck3" onclick="course0Onclick(this)"></td>
							<td rowspan="2"><span id="su3"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="form-check-input" value="13:00" data-end="16:00" id="suAmCheck3" onclick="course1Onclick(this)"></td>
						</tr>
						<tr>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00" data-end="20:00" id="saPmCheck3" onclick="course0Onclick(this)"></td>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00" data-end="20:00" id="suPmCheck3" onclick="course1Onclick(this)"></td>
						</tr>
						<!--第四周-->
						<tr>
							<td rowspan="2"><span id="sa4"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="form-check-input" value="13:00" data-end="16:00" id="saAmCheck4" onclick="course0Onclick(this)"></td>
							<td rowspan="2"><span id="su4"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="form-check-input" value="13:00" data-end="16:00" id="suAmCheck4" onclick="course1Onclick(this)"></td>
						</tr>
						<tr>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00" data-end="20:00" id="saPmCheck4" onclick="course0Onclick(this)"></td>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00" data-end="20:00" id="suPmCheck4" onclick="course1Onclick(this)"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
					<input id="confirm" type="submit" name="button1" value="登陆" class="btn btn-primary btn-wide" />
			</div>
		<!-- fotter -->
		<div id="formFooter">
			<p>功能选择 -> 预约课程 -> <span class="label label-danger">一对多课程预约</span></p>
		</div>

	</div>
</div>
<script>
	$('#icon').click(function (){
		location.href = "/user/user_stu1";
	});
	$(function(){
		var userName = sessionStorage.getItem('userName');//获取sessionStorage对象中的数据
		let object = {
		}
		let data = JSON.stringify(object);
		$.ajax({
			type: "POST",
			url: "/user/course",
			dataType: "json",
			data:data,
			contentType: 'application/json; charset=UTF-8',
			cache: false,
			async: false,

			success: function (res) {
				if (res.code == 0) {
					let map = res.data;
					let student = map["student"];
					let saturday = map["saturday"];
					let sunday = map["sunday"];

					$('#course0').html(student.stuCourse0);
					$('#course1').html(student.stuCourse1);
					$('#course0').val(student.stuCourse0);
					$('#course1').val(student.stuCourse1);

					$('#sa1').html(saturday[0]);
					$('#sa2').html(saturday[1]);
					$('#sa3').html(saturday[2]);
					$('#sa4').html(saturday[3]);

					$('#su1').html(sunday[0]);
					$('#su2').html(sunday[1]);
					$('#su3').html(sunday[2]);
					$('#su4').html(sunday[3]);

					// $('#group').append(trVar);
					courseCheck();
				}else {
					alert(res.msg);
					$("#userName").val("");
					$("#passWord").val("");
					$("#userName").focus();
					return false;
				}
			}
		})
	});

	$('#confirm').on('click', function(){

		var arr = new Array();
		for (let i = 1; i < 5; i++) {
			if ($("#saAmCheck" + i).is(':checked')) {
				let date = $("#sa" + i).html();
				let beginDate = date + " " + $("#saAmCheck" + i).val();
				let endDate = date + " " + $("#saAmCheck" + i).attr('data-end');
				let object = {
					beginDate: beginDate,
					endDate: endDate,
					classType: "CLASS_COURSE0"
				}
				arr.push(object);
			}
			if ($("#saPmCheck" + i).is(':checked')) {
				let date = $("#sa" + i).html();
				let beginDate = date + " " + $("#saPmCheck" + i).val();
				let endDate = date + " " + $("#saPmCheck" + i).attr('data-end');
				let object = {
					beginDate: beginDate,
					endDate: endDate,
					classType: "CLASS_COURSE1"
				}
				arr.push(object);
			}
			if ($("#suAmCheck" + i).is(':checked')) {
				let date = $("#su" + i).html();
				let beginDate = date + " " + $("#suAmCheck" + i).val();
				let endDate = date + " " + $("#suAmCheck" + i).attr('data-end');
				let object = {
					beginDate:beginDate,
					endDate:endDate,
					classType: "CLASS_COURSE0"
				}
				arr.push(object);
			}
			if ($("#suPmCheck" + i).is(':checked')) {
				let date = $("#su" + i).html();
				let beginDate = date + " " + $("#suPmCheck" + i).val();
				let endDate = date + " " + $("#suPmCheck" + i).attr('data-end');
				let object = {
					beginDate:beginDate,
					endDate:endDate,
					classType: "CLASS_COURSE1"
				}
				arr.push(object);
			}
		}


		$.ajax({
			type: "POST",
			url: "/user/appointment",
			data: JSON.stringify(arr),
			dataType: "json",
			contentType: 'application/json; charset=UTF-8',
			cache: false,
			async: false,
			success: function (res) {
				if (res.code == 0) {
					location.href = "/user/user_stu3?id=" + res.data.id;
				}else {
					alert(res.msg);
					$("#userName").val("");
					$("#passWord").val("");
					$("#userName").focus();
					return false;
				}
			}
		})

	});

	function courseCheck() {
		if($('#course0').val() < 3){
			for (var i = 1; i < 5; i++) {
				if(!$("#saAmCheck" + i).is(':checked')){
					$("#saAmCheck" + i).attr('disabled', 'disabled');
				}
				if(!$("#saPmCheck" + i).is(':checked')){
					$("#saPmCheck" + i).attr('disabled', 'disabled');
				}
			}
		}
		if($('#course0').val() > 3){
			for (var i = 1; i < 5; i++) {
				if(!$("#saAmCheck" + i).is(':checked')){
					$("#saAmCheck" + i).removeAttr('disabled');
				}
				if(!$("#saPmCheck" + i).is(':checked')){
					$("#saPmCheck" + i).removeAttr('disabled');
				}
			}
		}
		if($('#course1').val() < 3){
			for (var i = 1; i < 5; i++) {
				if(!$("#suAmCheck" + i).is(':checked')){
					$("#suAmCheck" + i).attr('disabled', 'disabled');
				}
				if(!$("#suPmCheck" + i).is(':checked')){
					$("#suPmCheck" + i).attr('disabled', 'disabled');
				}
			}
		}
		if($('#course1').val() > 3){
			for (var i = 1; i < 5; i++) {
				if(!$("#suAmCheck" + i).is(':checked')){
					$("#suAmCheck" + i).removeAttr('disabled');
				}
				if(!$("#suPmCheck" + i).is(':checked')){
					$("#suPmCheck" + i).removeAttr('disabled');
				}
			}
		}
	}

	function course0Onclick(checkbox) {
		if (checkbox.checked == true) {
			var course0 = $('#course0').val() - 3;
			$('#course0').html(course0);
			$('#course0').val(course0);

		} else {
			var course0 = parseInt($('#course0').val()) + 3;
			$('#course0').html(course0);
			$('#course0').val(course0);
		}
		courseCheck();
	};

	function course1Onclick(checkbox) {
		if (checkbox.checked == true) {
			var course1 = $('#course1').val() - 3;
			$('#course1').html(course1);
			$('#course1').val(course1);

		} else {
			var course1 = parseInt($('#course1').val()) + 3;
			$('#course1').html(course1);
			$('#course1').val(course1);
		}
		courseCheck();
	};



</script>
<style>
</style>
</body>

</html>