<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>UserSeat</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-datetimepicker.js"></script>
	<script src="/js/common.js"></script>


</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<legend>座位选择</legend>
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
			<input type="hidden" id="btn-group" value="" /><br/>
			<div class="row">
				<div class="btn-group" data-toggle="buttons">
					<button type="button" class="btn-default" name="level_select" value="1">　1　</button>
					<button type="button" class="btn-default" name="level_select" value="2">　2　</button>
					<button type="button" class="btn-default" name="level_select" value="3">　3　</button>
				</div>
			</div>
			<div class="row">
				<div class="btn-group" data-toggle="buttons">
					<button type="button" class="btn-default" name="level_select" value="4">　4　</button>
					<button type="button" class="btn-default" name="level_select" value="5">　5　</button>
					<button type="button" class="btn-default" name="level_select" value="6">　6　</button>
				</div>
			</div>
			<div class="row">
				<input type="submit" name="button1" id="confirm" value="确认" class="btn btn-primary btn-wide" />
			</div>
		</form>

		<div id="formFooter">
			<p>功能选择 -> 预约课程 -> 时间选择 -> <span class="label label-danger">座位选择</span> -> 确认</p>
		</div>

	</div>
</div>
<script>
	$('#icon').click(function (){
		var userName = sessionStorage.getItem('userName');//获取sessionStorage对象中的数据
		if(userName.startsWith("S")){
			location.href = "/user/user_stu1";
		}else{
			location.href = "/user/user_tea1";
		}

	});
	
	$('#line1 .btn').on('click', function(){
		$('#line2 .active').removeClass('active');
	});

	$(function(){
		$(".btn-default").click(function(){
			$("#btn-group").val($(this).val());
		});
	})

	$('#confirm').on('click', function(){
		var userName = sessionStorage.getItem('userName');//获取sessionStorage对象中的数据

		let beginDate = getQueryVariable("beginDate").replace("%20"," ");
		let endDate = getQueryVariable("endDate").replace("%20"," ");
		let classType = getQueryVariable("classType").replace("%20"," ");


		let classRoom= $("#btn-group").val();

		if(userName.substring(0,1) == "T"){
			location.href = "/user/user_tea7?beginDate=" + beginDate + "&endDate=" + endDate + "&classRoom=" + classRoom + "&classType=" + classType ;
			return true;
		}

		if(typeof classRoom == "undefined" ||  classRoom == ""){
			alert("座位不能为空！");
		}

		let object = {
			beginDate:beginDate,
			endDate:endDate,
			classRoom:classRoom,
			classType:classType
		}
		var arr = new Array();
		arr.push(object)

		$.ajax({
			type: "POST",
			url: "/user/appointment",
			data: JSON.stringify(arr),
			dataType: "json",
			contentType: 'application/json; charset=UTF-8',
			cache: false,
			async: false,
			success: function (res) {
				if (res.code == 0) {
					if(userName.substring(0,1) == "S") {
						location.href = "/user/user_stu3?id=" + res.data.id;
					}
				}else {
					alert(res.msg);
					$("#userName").val("");
					$("#passWord").val("");
					$("#userName").focus();
					return false;
				}
			}
		})
	});


</script>
<style>
	.row {
		margin-top: 15px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.btn-default {
		margin-left: 5px;
		margin-right: 5px;
	}
</style>
</body>

</html>