<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>UserTeacher1</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-datetimepicker.min.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<legend>预约课程</legend>
			<button type="button" id="vip" class="btn btn-primary btn-lg btn-block">VIP作品集研究计划</button>
		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p>功能选择 -> <span class="label label-danger">预约课程</span></p>
		</div>

	</div>
</div>
<script>
	$('#vip').click(function (){
		location.href = "/user/user_time.html?class=vip";
	});
</script>
</body>

</html>