<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>UserTeacher5</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>
</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<legend>确认</legend>
			<div class="row">
				<label class="control-label" id="attType"></label>
			</div>
			<div class="row">
				<label class="control-label" id="workType"></label>
			</div>
			<div class="row">
				<label class="control-label" id="stuNo"></label>
			</div>
			<div class="row">
				<label class="control-label" id="beginDate"></label>
			</div>

		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p id="p1">功能选择 -> 工作内容 -> 出勤地 -> VIP作品集研究计划 -> <span class="label label-danger">确认</span></p>
			<p id="p2">功能选择 -> 工作内容 -> 出勤地 -> <span class="label label-danger">确认</span></p>

		</div>
	</div>
</div>
<script>
	$('#icon').click(function (){
		location.href = "/user/user_tea1";
	});

	$(function(){
		var workType = getQueryVariable("workType");
		let id = getQueryVariable("id");


		let object = {
			id:id
		}
		let data = JSON.stringify(object)

		$.ajax({
			type: "POST",
			url: "/user/findRecord",
			data: data,
			dataType: "json",
			contentType: 'application/json; charset=UTF-8',
			cache: false,
			async: false,
			success: function (res) {
				if (res.code == 0) {
					if(res.data.attType== "1"){
						$("#attType").html("社内");
					} else if(res.data.attType== "2"){
						$("#attType").html("社外");
					}

					$("#workType").html(res.data.workType);
					if(res.data.stuNo != "" && res.data.stuNo != null){
						$("#stuNo").show();
						$("#stuNo").html("学生番号:  " + res.data.stuNo);
						$("#p1").show();
						$("#p2").hide();
					}else{
						$("#stuNo").hide();
						$("#p1").hide();
						$("#p2").show();
					}

					$("#beginDate").html(res.data.beginDate);
				}else {
					alert(res.msg);
					$("#userName").val("");
					$("#passWord").val("");
					$("#userName").focus();
					return false;
				}
			}
		})
	});
</script>
</body>

</html>