<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>UserStundent3</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>


			<legend>一对多课程预约</legend>
			<div class="row">
				<table class="table table-bordered">
					<caption>➡️可预约课时</caption>
					<thead>
						<tr>
							<th>小论文</th>
							<th>模拟面接</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><span id="course0"></span></td>
							<td><span id="course1"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row custom-control form-control-lg custom-checkbox">
				<table class="table table-bordered">
					<caption>➡️参加希望课程</caption>
					<thead>
					<tr>
						<th colspan="3">土曜日</th>
						<th colspan="3">日曜日</th>
					</tr>
					</thead>
					<tbody>
						<!--第一周-->
						<tr>
							<td rowspan="2"><span id="sa1"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="custom-control-input" value="13:00:00"></td>
							<td rowspan="2"><span id="su1"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="custom-control-input" value="13:00:00"></td>
						</tr>
						<tr>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00:00"></td>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00:00"></td>
						</tr>
						<!--第二周-->
						<tr>
							<td rowspan="2"><span id="sa2"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="form-check-input" value="13:00:00"></td>
							<td rowspan="2"><span id="su2"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="form-check-input" value="13:00:00"></td>
						</tr>
						<tr>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00:00"></td>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00:00"></td>
						</tr>
						<!--第三周-->
						<tr>
							<td rowspan="2"><span id="sa3"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="form-check-input" value="13:00:00"></td>
							<td rowspan="2"><span id="su3"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="form-check-input" value="13:00:00"></td>
						</tr>
						<tr>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00:00"></td>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00:00"></td>
						</tr>
						<!--第四周-->
						<tr>
							<td rowspan="2"><span id="sa4"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="form-check-input" value="13:00:00"></td>
							<td rowspan="2"><span id="su4"></span></td>
							<td>13～16点</td>
							<td><input type="checkbox" class="form-check-input" value="13:00:00"></td>
						</tr>
						<tr>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00:00"></td>
							<td>17～20点</td>
							<td><input type="checkbox" class="form-check-input" value="17:00:00"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
					<input id="confirm" type="submit" name="button1" value="登陆" class="btn btn-primary btn-wide" />
			</div>
		<div class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="customCheckBox1">
			<label class="custom-control-label" for="customCheckBox1">Check this custom checkbox</label>
		</div>


		<!-- fotter -->
		<div id="formFooter">
			<p>功能选择 -> 预约课程 -> <span class="label label-danger">一对多课程预约</span></p>
		</div>

	</div>
</div>
<script>
	$('#icon').click(function (){
		location.href = "/user/user_stu1.html";
	});
	$(function(){
		var userName = sessionStorage.getItem('userName');//获取sessionStorage对象中的数据
		let object = {
		}
		let data = JSON.stringify(object);
		$.ajax({
			type: "POST",
			url: "/user/course",
			dataType: "json",
			data:data,
			contentType: 'application/json; charset=UTF-8',
			cache: false,
			async: false,

			success: function (res) {
				if (res.code == 0) {
					let map = res.data;
					let student = map["student"];
					let saturday = map["saturday"];
					let sunday = map["sunday"];

					$('#course0').html(student.stuCourse0 + "小时");
					$('#course1').html(student.stuCourse1 + "小时");

					if(student.stuCourse0 > 3){
						$('#sa1').html(saturday[0]);
						$('#sa2').html(saturday[1]);
						$('#sa3').html(saturday[2]);
						$('#sa4').html(saturday[3]);
					}

					if(student.stuCourse1 > 3){
						$('#su1').html(sunday[0]);
						$('#su2').html(sunday[1]);
						$('#su3').html(sunday[2]);
						$('#su4').html(sunday[3]);
					}


					$('#group').append(trVar);
				}else {
					alert(res.msg);
					$("#userName").val("");
					$("#passWord").val("");
					$("#userName").focus();
					return false;
				}
			}
		})
	});

	$('#confirm').on('click', function(){

		var beginDate = "";

		let object = {
			beginDate:beginDate,
			endDate:endDate,
			classRoom:classRoom,
			classType:classType
		}
		let data = JSON.stringify(object)

		$.ajax({
			type: "POST",
			url: "/user/appointment",
			data: data,
			dataType: "json",
			contentType: 'application/json; charset=UTF-8',
			cache: false,
			async: false,
			success: function (res) {
				if (res.code == 0) {
					location.href = "/user/user_tea5.html?id=" + res.data.id;
				}else {
					alert(res.msg);
					$("#userName").val("");
					$("#passWord").val("");
					$("#userName").focus();
					return false;
				}
			}
		})
	});
</script>
<style>
	.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
		background-color:red;
	}
</style>
</body>

</html>