<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>[[#{tea7.title}]]</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<fieldset>
				<legend>[[#{tea7.title}]]</legend>
				<div class="row">
					<label  class="col-md-12 control-label">[[#{tea7.stuNo}]]</label>

					<br/>
				</div>
				<div class="row">

					<div class="col-md-12">
						<input class="form-control" type="text" id="stuNo">
					</div>
					<br/>
				</div>
				<div class="row">
					<input type="submit" id="confirm" th:value="#{tea7.confirm}" class="btn btn-primary btn-wide" />
				</div>
			</fieldset>


		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p>[[#{tea7.tip1}]]<span class="label label-danger">[[#{tea7.tip2}]]</span>[[#{tea7.tip3}]]</p>

		</div>

	</div>
</div>
<script>
	$('#icon').click(function (){
		location.href = "/user/user_tea1";
	});
</script>
<style>
	input[type=text] {
		margin-top: 0px;
		border-top-width: 0px;
		border-bottom-width: 0px;
	}
	label {
		margin-top: 5px;
	}

	.row {
		margin-top: 25px;
		margin-left: 0px;
		margin-right: 0px;
	}
</style>

<script>
	$('#confirm').on('click', function(){
		var userName = sessionStorage.getItem('userName');//获取sessionStorage对象中的数据

		let beginDate = getQueryVariable("beginDate").replace("%20"," ");
		let endDate = getQueryVariable("endDate").replace("%20"," ");
		let classRoom = getQueryVariable("classRoom").replace("%20"," ");
		let classType = getQueryVariable("classType").replace("%20"," ");

		let stuNo = $("#stuNo").val().toString();
		if(stuNo == ""){
			alert("[[#{tea7.info}]]");
			return;
		}
		let object = {
			beginDate:beginDate,
			endDate:endDate,
			classRoom:classRoom,
			classType:classType,
			stuNo:stuNo
		}
		var arr = new Array();
		arr.push(object)

		$.ajax({
			type: "POST",
			url: "/user/appointment",
			data: JSON.stringify(arr),
			dataType: "json",
			contentType: 'application/json; charset=UTF-8',
			cache: false,
			async: false,
			success: function (res) {
				if (res.code == 0) {
					if(userName.substring(0,1) == "T") {
						location.href = "/user/user_stu3?id=" + res.data.id;
					}
				}else {
					alert(res.msg);
					$("#userName").val("");
					$("#passWord").val("");
					$("#userName").focus();
					return false;
				}
			}
		})
	});
</script>
</body>

</html>