<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>UserTeacher5</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>
</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<legend>确认</legend>
			<div class="row">
				<label class="control-label" id="company"></label>
			</div>
			<div class="row">
				<label class="control-label" id="work"></label>
			</div>
			<div class="row">
				<label class="control-label" id="stuNo"></label>
			</div>
			<div class="row">
				<label class="control-label" id="startTime"></label>
			</div>

		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p id="p1">功能选择 -> 工作内容 -> 出勤地 -> VIP作品集研究计划 -> <span class="label label-danger">确认</span></p>
			<p id="p2">功能选择 -> 工作内容 -> 出勤地 -> <span class="label label-danger">确认</span></p>

		</div>
	</div>
</div>
<script>
	$(function(){
		var company = getQueryVariable("company");
		var work = getQueryVariable("work");
		var time = getQueryVariable("time");

		$("#company").html(company);
		$("#work").html(work);
		if(work == "vip"){
			var stuNo = getQueryVariable("stuNo");
			$("#stuNo").show();
			$("#stuNo").html("学生番号：" + stuNo);
		}else{
			$("#stuNo").hide();
		}

		$("#startTime").html(time);

	});
</script>
</body>

</html>