<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>UserTeacher10</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<legend>出勤信息确认</legend>
			<div class="row">
				<table class="table table-bordered" id="group">
					<caption>➡️出勤信息</caption>
					<thead>
						<tr>
							<th>分类</th>
							<th>出勤地</th>
							<th>时间</th>
						</tr>
					</thead>
					<tbody>
						<!--<tr>
							<td rowspan="2">VIP作品集研究计划</td>
							<td>社内</td>
							<td>16小时</td>

						</tr>
						<tr>
							<td>社外</td>
							<td>21小时</td>
						</tr>-->
					</tbody>
				</table>
			</div>

			<div class="row">
				<table class="table table-bordered" id="group1">
					<caption>➡️交通费</caption>
					<thead>
					<tr>
						<th>社内出勤日期</th>
						<th>次数</th>
					</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>

			<div class="row">
					<input type="submit" id="return" value="返回" class="btn btn-primary btn-wide" />
			</div>
		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p>功能选择 -> 信息确认 -> <span class="label label-danger">出勤信息</span></p>
		</div>

	</div>
</div>
<script>
	$('#icon').click(function (){
		location.href = "/user/user_tea1.html";
	});

	$('#return').click(function (){
		location.href = "/user/user_tea9.html";
	});

	$(function(){
		let object = {}
		let data = JSON.stringify(object)

		$.ajax({
			type: "POST",
			url: "/user/record-info",
			data: data,
			dataType: "json",
			contentType: 'application/json; charset=UTF-8',
			cache: false,
			async: false,
			success: function (res) {
				if (res.code == 0) {
					let map = res.data;
					for(let key in map){
						let length = Object.keys(map[key]).length;

						var trVar = '<tr>' + '<td rowspan="' + length +'">'+ key + '</td>';
						for(let k in map[key]){
							let k1 =  map[key][k];
							k == 1 ? k = "社内" : k = "社外";
							trVar = trVar + '<td>' + k + '</td>' + '<td>' + k1 + '</td>' + '</tr>';
						}
						$('#group').append(trVar);
					}
				}
			}
		});

		$.ajax({
			type: "POST",
			url: "/user/record-type",
			data: data,
			dataType: "json",
			contentType: 'application/json; charset=UTF-8',
			cache: false,
			async: false,
			success: function (res) {
				if (res.code == 0) {
					let map = res.data;
					for(let key in map){
						$('#group1').append('<tr> ' +
								'<td>' + key + '</td>' +
								'<td>' + map[key] + '</td>' +
								'</tr>')
					}
				}
			}
		})


	});
</script>
</body>

</html>