<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>UserStundent3</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<legend>一对多课程预约</legend>
			<div class="row">
				<table class="table table-bordered">
					<caption>➡️可预约课时</caption>
					<thead>
						<tr>
							<th>小论文</th>
							<th>模拟面接</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>4回（12小时）</td>
							<td>4回（12小时）</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<table class="table table-bordered">
					<caption>➡️参加希望课程</caption>
					<thead>
					<tr>
						<th colspan="2">土曜日</th>
						<th colspan="2">日曜日</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>4回（12小时）</td>
						<td><input type="checkbox" class="form-check-input" value=""></td>
						<td>4回（12小时）</td>
						<td><input type="checkbox" class="form-check-input" value=""></td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
					<input type="submit" name="button1" value="登陆" class="btn btn-primary btn-wide" />
			</div>
		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p>功能选择 -> 预约课程 -> <span class="label label-danger">一对多课程预约</span></p>
		</div>

	</div>
</div>
<script>

</script>
</body>

</html>