<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>UserTeacher10</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<legend>出勤信息确认</legend>
			<div class="row">
				<table class="table table-bordered">
					<caption>➡️出勤信息</caption>
					<thead>
						<tr>
							<th>分类</th>
							<th>出勤地</th>
							<th>时间</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="2">VIP作品集研究计划</td>
							<td>社内</td>
							<td>16小时</td>

						</tr>
						<tr>
							<td>社外</td>
							<td>21小时</td>
						</tr>
						<tr>
							<td rowspan="2">事务工作</td>
							<td>社内</td>
							<td>4小时</td>
						</tr>
						<tr>
							<td>社外</td>
							<td>5小时</td>
						</tr>
						<tr>
							<td rowspan="2">其他</td>
							<td>社内</td>
							<td>6小时</td>
						</tr>
						<tr>
							<td>社外</td>
							<td>7小时</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<table class="table table-bordered">
					<caption>➡️交通费</caption>
					<thead>
					<tr>
						<th>社内出勤时间</th>
						<th>总计</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>16小时</td>
						<td>2308</td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
					<input type="submit" name="button1" value="返回" class="btn btn-primary btn-wide" />
			</div>
		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p>功能选择 -> 信息确认 -> <span class="label label-danger">出勤信息</span></p>
		</div>

	</div>
</div>
<script>

</script>
</body>

</html>