<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>[[#{stu6.title}]]</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>

</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>


		<!-- Form -->
		<form onclick="return false">
			<legend>[[#{stu6.title}]]</legend>
			<div class="row">
				<table class="table table-bordered">
					<caption>[[#{stu6.timeConfimation}]]</caption>
					<thead>
						<tr>
							<th>[[#{stu6.stuCourse0}]]</th>
							<th>[[#{stu6.stuCourse1}]]</th>
							<th>[[#{stu6.stuCourse2}]]</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><span id="course0"></span><span>[[#{stu6.H}]]</span></td>
							<td><span id="course1"></span><span>[[#{stu6.H}]]</span></td>
							<td><span id="course2"></span><span>[[#{stu6.H}]]</span></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
					<input type="submit" id="return" th:value="#{stu6.return}" class="btn btn-primary btn-wide" />
			</div>
		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p>[[#{stu6.tip1}]]<span class="label label-danger">[[#{stu6.tip2}]]</span></p>
		</div>

	</div>
</div>
<script>
	$('#icon').click(function (){
		location.href = "/user/user_stu1";
	});

	$('#return').click(function (){
		location.href = "/user/user_stu5";
	});

	$(function(){
		var userName = sessionStorage.getItem('userName');//获取sessionStorage对象中的数据
		let object = {
		}
		let data = JSON.stringify(object);
		$.ajax({
			type: "POST",
			url: "/user/course",
			dataType: "json",
			data:data,
			contentType: 'application/json; charset=UTF-8',
			cache: false,
			async: false,

			success: function (res) {
				if (res.code == 0) {
					let map = res.data;
					let student = map["student"];

					$('#course0').html(student.stuCourse0);
					$('#course1').html(student.stuCourse1);
					$('#course2').html(student.stuCourse2);

				}else {
					alert(res.msg);
					$("#userName").val("");
					$("#passWord").val("");
					$("#userName").focus();
					return false;
				}
			}
		})
	});


</script>
</body>

</html>