<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>[[#{tea13.title}]]</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/common.css" rel="stylesheet"/>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"/>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common.js"></script>
</head>
<body>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="/images/logo.gif" id="icon" alt="User Icon" />
		</div>

		<!-- Form -->
		<form onclick="return false">
			<legend>[[#{tea13.title}]]</legend>
			<div class="row">
				<label class="control-label" id="attType"></label>
			</div>
			<div class="row">
				<label class="control-label" id="workType"></label>
			</div>
			<div class="row">
				<label class="control-label" id="beginDate"></label>
			</div>
			<div class="row">
				<input type="submit" id="top" th:value="#{tea13.top}" class="btn btn-primary btn-wide" />
			</div>
		</form>

		<!-- fotter -->
		<div id="formFooter">
			<p id="p">[[#{tea13.tip1}]]<span class="label label-danger">[[#{tea13.tip2}]]</span></p>
		</div>
	</div>
</div>
<script>
	$('#icon').click(function (){
		location.href = "/user/user_tea1";
	});

	$('#top').click(function (){
		location.href = "/user/user_tea1";
	});

	$(function(){
		var workType = getQueryVariable("workType");
		let id = getQueryVariable("id");


		let object = {
			id:id
		}
		let data = JSON.stringify(object)

		$.ajax({
			type: "POST",
			url: "/user/findRecord",
			data: data,
			dataType: "json",
			contentType: 'application/json; charset=UTF-8',
			cache: false,
			async: false,
			success: function (res) {
				if (res.code == 0) {
					if(res.data.attType== "1"){
						$("#attType").html("社内");
					} else if(res.data.attType== "2"){
						$("#attType").html("社外");
					}

					$("#workType").html(res.data.workType);

					$("#beginDate").html(res.data.endDate);
				}else {
					alert(res.msg);
					$("#userName").val("");
					$("#passWord").val("");
					$("#userName").focus();
					return false;
				}
			}
		})
	});
</script>
</body>

</html>