<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/custom.form.css">
    <style>
        .custom-tree-item-clicked{color:#FC9003}
    </style>
</head>
<body>
<div class="panel panel-default operation_user" hidden>
    <div class="panel-heading title"></div>
    <div class="layui-card-body">
        <form class="layui-form" action="" lay-filter="operation_form" id="operation_form" style="width: 700px;margin-top: 10px">
            <input name="id" hidden/>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{login_id}]]</div>
                <div class="layui-input-block">
                    <input name="loginId" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{tea_nm_kanji}]]</div>
                <div class="layui-input-block">
                    <input name="teaNmKanji" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{tea_nm_roma}]]</div>
                <div class="layui-input-block">
                    <input name="teaNmRoma" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{tea_email}]]</div>
                <div class="layui-input-block">
                    <input name="teaEmail" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{tea_kokuseki}]]</div>
                <div class="layui-input-block">
                    <input name="teaKokuseki" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">[[#{tea_sex}]]</label>
                <div class="layui-input-block">
                    <input type="radio" name="teaSex" value="1" th:title="#{boy}" checked="">
                    <input type="radio" name="teaSex" value="0" th:title="#{girl}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">老师状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="teaStatus" value="1" th:title="入职" checked="">
                    <input type="radio" name="teaStatus" value="0" th:title="离职">
                    <input type="radio" name="teaStatus" value="2" th:title="转正">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{tea_education}]] </div>
                <div class="layui-input-block">
                    <input name="teaEducation" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{tea_major}]]</div>
                <div class="layui-input-block">
                    <input name="teaMajor" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{tea_wage}]]</div>
                <div class="layui-input-block">
                    <input name="teaWage" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{tea_other_wage}]]</div>
                <div class="layui-input-block">
                    <input name="teaOtherWage" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{tea_commuting_cost}]]</div>
                <div class="layui-input-block">
                    <input name="teaCommutingCost" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">[[#{tea_bank}]]</div>
                <div class="layui-input-block">
                    <input name="teaBank" th:placeholder="#{input_tips}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">[[#{save}]]</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">[[#{cancel}]]</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="user_table_div">
    <div id="searchParam" shiro:hasPermission="sys:user:list">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="loginId" class="layui-input" autocomplete="off" placeholder="请输入编号">
            </div>
            <div class="layui-input-inline">
                <input type="text" id="teaNmKanji" class="layui-input" autocomplete="off" placeholder="请输入姓名">
            </div>
            <div class="layui-input-inline layui-form">
                <select id="teaStatus">
                    <option value="">请选择账号状态</option>
                    <option value="1">入职</option>
                    <option value="0">离职</option>
                    <option value="2">转正</option>
                </select>
            </div>
            <div class="layui-input-inline ">
                <button class="layui-btn" onclick="search()" id="search">查询</button>
            </div>
        </div>

    </div>
    <table class="layui-hide" id="user_table" lay-filter="user_table"></table>
</div>

<div id="roles" class="demo-transfer" style="display: none"></div>
</body>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addteacher" shiro:hasPermission="sys:user:add">添加</button>
        <!--<button class="layui-btn layui-btn-sm" lay-event="batchUpdate" shiro:hasPermission="sys:user:deleted">更新</button>-->
    </div>
</script>
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="sys:user:update">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="sys:user:deleted">删除</a>
</script>
<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script>
    var tableIns1;
    var table = layui.table;
    var form = layui.form;
    var layer = layui.layer;
    var $ = jQuery = layui.jquery;
    var laydate = layui.laydate;
    var tree = layui.tree;
    var transfer = layui.transfer;
    var deptNo = null;
    var startTime = null;
    var endTime = null;

    lay('.lay_date').each(function() {
        laydate.render({
            elem: this
            ,type: 'date'
            ,lang: 'en'
            , done: function (value, date, endDate) {

            }
        });
    });
    var cols = [
        [
            {type: 'radio', fixed: 'left'},
            {field: 'loginId', title: '[[#{login_id}]]', width: 130},
            {field: 'teaNmKanji', title: '[[#{tea_nm_kanji}]]', width: 130},
            {field: 'teaNmRoma', title: '[[#{tea_nm_roma}]]', width: 120},
            {field: 'teaEmail', title: '[[#{tea_email}]]', width: 120},
            {field: 'teaKokuseki', title: '[[#{tea_kokuseki}]]', width: 120},

            {
                field: 'teaSex', title: '[[#{tea_sex}]]', width: 100, templet: function (item) {
                    if (item.teaSex === 1) {
                        return "男";
                    }
                    if (item.teaSex === 0) {
                        return "女";
                    }
                }
            },
            {field: 'teaEducation', title: '[[#{tea_education}]]', width: 120},
            {field: 'teaMajor', title: '[[#{tea_major}]]', width: 120},
            {field: 'teaWage', title: '[[#{tea_wage}]]', width: 120},
            {field: 'teaOtherWage', title: '[[#{tea_other_wage}]]', width: 120},
            {field: 'teaCommutingCost', title: '[[#{tea_commuting_cost}]]', width: 120},
            {field: 'teaBank', title: '[[#{tea_bank}]]', width: 120},
            {
                field: 'teaStatus', title: '[[#{tea_status}]]', width: 120, templet: function (item) {
                    if (item.teaStatus === 1) {
                        return "[[#{status_on}]]";
                    }
                    if (item.teaStatus === 0) {
                        return "[[#{status_off}]]";
                    }
                    if (item.teaStatus === 2) {
                        return "转正";
                    }
                }
            },
            {field: 'createTime', title: '[[#{create_time}]]', width: 130},
            {field: 'updateTime', title: '[[#{update_time}]]', width: 130},
            {width: 300, toolbar: "#tool", title: '[[#{operation}]]'}
        ]
    ]

    layui.use(['table', 'layer', 'laydate', 'transfer'], function () {
        //加载table
        tableIns1 = table.render({
            elem: '#user_table'
            , contentType: 'application/json'
            , page: true //开启分页
            , url: '/attence/teachers' //数据接口
            , method: 'POST'
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols:cols
            , toolbar: '#toolbar'
        });

        table.on('toolbar(user_table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'batchUpdate':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要更新的");
                    } else {
                        var userIds = [];
                        $(data).each(function (index, item) {
                            userIds.push(item.id);
                        });
                        updlog(userIds, "选中的");
                    }
                    break;
                case 'addteacher':
                    $(".title").html("新增");
                    $(".user_table_div").hide();
                    $(".operation_user").show();
                    $("#operation_form")[0].reset();
                    form.render(); //更新全部
                    break;
            };
        });
        form.on('switch(switch)', function () {
            $(".operation_user input[name=teaStatus]").attr('type', 'hidden').val(this.checked ? 1 : 0);
        });

        table.on('tool(user_table)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    var userIds = [];
                    userIds.push(data.id);
                    dellog(userIds, data.teaName);
                    break;
                case 'edit':
                    $(".user_table_div").hide();
                    $(".operation_user").show();
                    $(".title").html("编辑");
                    form.val('operation_form', data);

                    break;
            }
        });
        $("#btn_cancel").click(function () {
            $(".user_table_div").show();
            $(".operation_user").hide();
            return false;
        });
        var updlog = function (userIds, username) {
            layer.open({
                content: '确定要更新' + username + "用户么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendPut("/attence/teacher", userIds, function (res) {
                        layer.msg(res.msg);
                        search()
                    });
                }
            });
        };

        var dellog = function (userIds, username) {
            layer.open({
                content: '确定要删除' + username + "么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendDelete("/attence/teacher", userIds, function (res) {
                        layer.msg(res.msg);
                        search()
                    });
                }
            });
        };

        form.on('submit(submit)', function (data) {
            if (data.field.id === undefined || data.field.id === null || data.field.id === "") {
                CoreUtil.sendPost("/attence/teacher", data.field, function (res) {
                    $(".user_table_div").show();
                    $(".operation_user").hide();
                    search()
                });
            } else {
                CoreUtil.sendPut("/attence/teacher", data.field, function (res) {
                    $(".user_table_div").show();
                    $(".operation_user").hide();
                    search()
                });
            }
            return false;
        });
    });

    //执行查询
    function search() {
        //这里以搜索为例
        tableIns1.reload({
            where: { //设定异步数据接口的额外参数，任意设
                loginId: $("#loginId").val(),
                startTime: startTime,
                endTime: endTime,
                stuNmKanji: $("#stuNmKanji").val(),
                stuNmRoma: $("#stuNmRoma").val(),
                teaStatus: $("#teaStatus").val()
            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    };
</script>
</html>