<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.attence.mapper.AttStudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.my.attence.entity.AttStudent">
        <id column="id" property="id" />
        <result column="stu_no" property="stuNo" />
        <result column="stu_name" property="stuName" />
        <result column="stu_email" property="stuEmail" />
        <result column="stu_age" property="stuAge" />
        <result column="stu_sex" property="stuSex" />
        <result column="stu_class" property="stuClass" />
        <result column="stu_professional" property="stuProfessional" />
        <result column="stu_status" property="stuStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, stu_no, stu_name, stu_email, stu_age, stu_sex, stu_class, stu_professional, stu_status, create_time, update_time, deleted
    </sql>

</mapper>
